.meetingItem {
  width: 100%;
  margin-top: 15px;
  padding: 20px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.meetingItem button {
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.meetingItem__options {
  margin-top: 10px;
}

.meetingItem__startBtn {
  background-color: #28a745;
}

.meetingItem__joinBtn {
  background-color: #2e81f4;
  margin-right: 10px;
}
