.app__body {
  display: flex;
  justify-content: space-between;
}

.app__body .center__comp {
  flex: 1;
}

.app {
  background-color: #f1f2f5;
  height: 100vh;
}

.tab__member {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab__member .memberList {
  flex: 1;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
}

.tab__member .requestList {
  flex: 1;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
}
